
/*main*/

.wrap{
	overflow: hidden;
	width: 232px;
}
.main_pic{
	width: 100%;
}
.main_pic img{
	width: 100%;
}
.nest_title{
	border: 1px solid #d6d6d6;
	padding: 8px 0;
	border-top: none;
}
.photo{
	margin: 0 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.tradition{
	cursor:pointer;
	overflow: hidden;
	height: 40px;
	overflow: hidden;
	margin: 0;
	margin-bottom: 10px;
}
.tradition h3,.tradition p{
	width: 100%
}
.tradition h3{
	padding: 5px 0;
	color: #6b6b6b;
	font-size: 14px;
	font-weight: bold;
}
.tradition p {
	height: 20px;
	color: #d4caca;
	font-size: 12px;
}
.join_like{
	padding:0 12px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
}
.join{
	cursor:pointer;
	color: #0560ad;
	padding-left: 18px;
	background:url(./join.png) no-repeat left center;
	width: 50%;
}
.like{
	cursor:pointer;
	color: #c71414;
	padding-left: 20px;
	background:url(./like.png) no-repeat left center;
	height: 18px;
	overflow: hidden;
}
.msg{
	font-size: 12px;
	color: #9f9999;
	padding: 0 13px;
	position: relative;
	height: 40px;
}
.msg_time{
	position: absolute;
	right: 5px;
	bottom: 0px;
}
.who,.con{
	height: 40px;
	line-height: 40px;
}
.con{
	overflow: hidden;
}
.addborder{
	border: 2px solid #d6d6d6;
}
.addbgcolor{
	background-color: #f1f1f1;
}