
/*main*/

.i-wrap{
    width: 990px;
	margin: 0 auto;
}
.i-tab{
	width: 100%;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #ddd;
	height: 34px;
}
.tab-index1,.tab-index2,.tab-index3{
	cursor: pointer;
	width: 80px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
	z-index: 100;
	float: left;
}
.i-wrap .active{
	top: 1px;
	height: 31px;
	line-height: 26px;
	cursor: default;
	position: relative;
	top: 1px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-top: 3px solid #d12610;
}
.tab-info{
	display: none;
	width: 988px;
	border-right: 1px solid #4b8df8;
	border-left: 1px solid #4b8df8;
}
.i-tab-info{
	width: 100%;
	margin-top: 15px;
}
.tab-summary{
	color: #fff;
	padding-left: 20px;
	line-height: 37px;
	height: 37px;
	background-color: #4b8df8;
}
.tb-action{
    padding: 19px 20px 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #4b8df8;
}
.tb-btn {
    border: 0;
    padding: 7px 14px;
    text-shadow: none;
    font-size: 14px;
    cursor: pointer;
}
.tb-btn i{
    color: white;
    margin-right: 5px;
}
.tb-btn-save{
    color: white;
    text-shadow: none;
    background-color: #4d90fe;
}
.i-main{
	overflow: hidden;
	position: relative;
	padding: 10px;
	border-bottom:1px solid #ddd;
}

.tab-f-ph{
	float: left;
	height: 100px;
}
.tab-f-ph img{
	width: 100px;
	height: 100px;
}
.tab-f-if{
	padding-left: 10px;
	height: 100px;
	overflow: hidden;
}
.tab-f-name{
	padding: 10px 0;
	font-weight: bold;
	font-size: 16px;
}
.tab-f-sign{
	font-size: 14px;
}
.tab-f-intime{
	margin-top: 15px;
}
.f-delete{
	right: 10px;
	top: 0px;
	height: 100px;
	width: 100px;
	position: absolute;
}
.dlt{
	
	height: 30px;
	width: 80px;
	border-radius: 10px;
	border: 1px solid #ddd;
	color: red;
	line-height: 30px;
	text-align: center;
	margin: 35px 0;
}
.dlt:hover{
	cursor: pointer;
	background-color: green;
}
.tab-n{
	height: 150px;
}
.n-photo{
	float: left;
	height: 150px;
}
.n-photo img{
	height: 150px;
	width: 150px;
}
.n-info{
	padding: 0 10px;
	overflow: hidden;
	height: 150px;
}
.n-name{
	padding: 10px 0;
	font-weight: bold;
	font-size: 16px;
}

.n-main-con, .n-set-time,.n-liveness,.n-type{
	font-size: 14px;
    color: #676767;
}
.n-info .name{
	display: inline-block;
	width: 100px;
	text-align: right;
}
.n-main-con{
    color: #474747
}
.n-handle{
	position: absolute;
	right: 10px;
	top: 0;
	height: 150px;
	width: 150px;
}
.n-clickshow{
	margin: 60px 0;
	border: 1px solid #ddd;
	height: 30px;
	border-radius: 10px;
	font-size: 14px;
	width: 80px;
	line-height: 30px;
	text-align: center;
	color: blue;
}
.n-clickshow:hover{
	cursor: pointer;
}
.u-photo{
	float: left;
}
.u-p-content{
	width: 150px;
	height: 150px;
}
.u-p-content img{
	height: 150px;
	width: 150px;
}
.u-info{
	padding: 0 10px;
	float: left;
}
.tb-group{
	padding: 10px 0;
	font-size: 14px; 
}
.tb-control{
    border: 1px solid #ddd;
    width: 300px;
    padding: 5px;
}

.tb-group label{
    display: inline-block;
    width: 100px;
    text-align: right;
}